

D. Rules

Downloading/improving/ code for none commercial use is accepted 

Therefor 
You agree not to engage in any of the following prohibited activities: 

(iii) sending spam, chain letters, or other unsolicited email or trojans using sms service ; 

(vi) Sending users invalid data, viruses, worms, or other software agents through the Service; 

(vii) Using sms service to collect or harvesting any personally identifiable information, including sensitive personal information ; 

(viii) using the Service for any commercial solicitation purposes without contacting developer team and reaching agreement 
